h1{
    color: orange;
    display: inline-block;
    vertical-align: top;
}

#logo{
    max-width: 50px;
    max-height: 50px;
}

#name{
    font-size: large;
    align-self: center;
}

body{
    background-color: rgb(255, 237, 214);
}

#L{
    size:5ch;
}

#nome{
    size: 5cm;
}